<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>AllNews</title>

    <style>
        a {
            text-decoration: none;
        }

        li {
            display: inline;
        }

        li:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <nav>
        <div class="navbar navbar-expand bg-info">
            <div class="mx-auto" id="navbar-navigation">
                <span><a href="#" class="navbar-brand text-white">All India One<sub
                            style="font-size: 9px;">News</sub></a></span>
            </div>
        </div>
    </nav>

    <main class="py-5">
        <div class="container-fluid">
            <div class="copyrights-issues mx-4">
                <center><strong>Disclaimer</strong></center>
                <p>Every News Article is fetched from Inshort(one of the best News website). Every Article belong to their respective owners and I or this website does not claim any right over them.
                        <br>"Copyright Disclaimer under section 107 of the Copyright Act of 1976, allowance is made for “fair use” for purposes such as criticism, comment, news reporting, teaching, scholarship, education and research. Fair use is a use permitted by copyright statute that might otherwise be infringing.”<br>
                        
                        If you have a copyright issued, tweet me on <a href="https://twitter.com/Chodhary_sid">@Chodhary_sid</a> <br>
                </p>
            </div>
            <hr>
        </div>
        <div class="container-fluid my-5 py-4">

            <div class="container-fluid Trending-News card my-3">
                <div class="pt-4 container-fluid" style="background-color:#ddd;">
                    <ul class="mx-auto">
                        <li class="btn btn-primary mx-2" id="trending" onclick="trendingNews()">Trending News</li>
                        <li class="btn mx-2" id="world" onclick="worldNews()">World News</li>
                        <li class="btn mx-2" id="technology" onclick="techNews()">Technology News</li>
                        <li class="btn mx-2" id="sports" onclick="sportsNews()">Sports News</li>
                    </ul>
                </div>
                <div class="container-fluid mx-auto my-2" id="main-news">

                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
        function trendingNews() {
            $('#trending').addClass('btn-primary');
            $('#world').removeClass('btn-primary');
            $('#technology').removeClass('btn-primary');
            $('#sports').removeClass('btn-primary');


            loadme = `
        {% for news in trendingNews %}
        <div class="row mx-auto">
        {% for trend in news %}
        <div class="col-sm-12 col-md-6 col-lg-4 my-5">
            <div class="card" style=" min-height: 40rem">
                <img src="{{ trend.image }}" class="card-img-top" alt="News-Image">
                <div class="card-body">
                    <h5 class="card-title">{{trend.heading}}</h5>
                    <p class="card-text">{{ trend.content }}</p>
                </div>
                <div class="card-footer text-muted">
                    <a href="#" class="btn btn-primary">More ...</a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        {% endfor %}`;


            $('#main-news').html(loadme);
        }

        function worldNews() {
            $('#world').addClass('btn-primary');
            $('#trending').removeClass('btn-primary');
            $('#technology').removeClass('btn-primary');
            $('#sports').removeClass('btn-primary');

            loadme = `
{% for news in worldNews %}
<div class="row mx-auto">
{% for trend in news %}
<div class="col my-5">
<div class="card" style="width: 25rem; min-height: 40rem">
<img src="{{ trend.image }}" class="card-img-top" alt="News-Image">
<div class="card-body">
    <h5 class="card-title">{{trend.heading}}</h5>
    <p class="card-text">{{ trend.content }}</p>
</div>
<div class="card-footer text-muted">
    <a href="#" class="btn btn-primary">More ...</a>
</div>
</div>
</div>
{% endfor %}
</div>
{% endfor %}`;


            $('#main-news').html(loadme);
        }

        function sportsNews() {
            $('#sports').addClass('btn-primary');
            $('#world').removeClass('btn-primary');
            $('#technology').removeClass('btn-primary');
            $('#trending').removeClass('btn-primary');

            loadme = `
{% for news in sportsNews %}
<div class="row mx-auto">
{% for trend in news %}
<div class="col my-5">
<div class="card" style="width: 25rem; min-height: 40rem">
<img src="{{ trend.image }}" class="card-img-top" alt="News-Image">
<div class="card-body">
    <h5 class="card-title">{{trend.heading}}</h5>
    <p class="card-text">{{ trend.content }}</p>
</div>
<div class="card-footer text-muted">
    <a href="#" class="btn btn-primary">More ...</a>
</div>
</div>
</div>
{% endfor %}
</div>
{% endfor %}`;


            $('#main-news').html(loadme);
        }

        function techNews() {
            $('#technology').addClass('btn-primary');
            $('#world').removeClass('btn-primary');
            $('#trending').removeClass('btn-primary');
            $('#sports').removeClass('btn-primary');

            loadme = `
{% for news in technologyNews %}
<div class="row mx-auto">
{% for trend in news %}
<div class="col my-5">
<div class="card" style="width: 25rem; min-height: 40rem">
<img src="{{ trend.image }}" class="card-img-top" alt="News-Image">
<div class="card-body">
    <h5 class="card-title">{{trend.heading}}</h5>
    <p class="card-text">{{ trend.content }}</p>
</div>
<div class="card-footer text-muted">
    <a href="#" class="btn btn-primary">More ...</a>
</div>
</div>
</div>
{% endfor %}
</div>
{% endfor %}`;


            $('#main-news').html(loadme);
        }

        trendingNews();
    </script>
</body>

</html>